services:
  backend:
    container_name: backend
    build: ./backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    restart: unless-stopped
    # enable in prod
    #network_mode: host
    networks:
      - webrtc

# disable in prod
networks:
  webrtc:
    driver: bridge