.card {
    background-color: var(--bs-modal-bg);
    color: var(--bs-modal-color);
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 1px, rgba(255, 255, 255, 0.3) 0px 0px 2px, rgba(255, 255, 255, 0.2) 0px 0px 5px;
}

.video-fullscreen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-thumbnail {
    position: absolute !important;
    bottom: 100px;
    right: 20px;
    width: 180px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease;
    transform: scaleX(-1)
}

.control-bar {
    position: absolute !important;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}

.control-btn {
    font-size: 1.4rem;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality-monitor {
    width: 64px;
    height: 64px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    padding: 6px;
    z-index: 20;
    cursor: default;
    text-shadow: none !important;
}


@media (max-width: 768px) {
    .video-thumbnail {
        width: 120px;
        bottom: 100px;
        right: 10px;
    }
    .control-bar {
        gap: 10px;
    }
}
